html,

body{
  background: url(project_images/BackGround.jpg);
  background-size: cover;
}

.cabeçalho{
  background: url(project_images/Glacier.jpg);
  background-size: cover;
  place-items: center;
  width: auto;
  height: 200px;
}

.cabeçalho >img{
  margin-left: 0%;
}

.skills{
  background-color: lightgrey;
  margin-left: 3rem;
  width: 420px;
  height: auto;
}

.about{
  background-color: lightgrey;
  margin-left: 35rem;
  margin-right: auto;
  margin-top: -20rem;
  width: 320px;
  height: auto;
}

.contatos{
  background-color: lightgrey;
  margin-left: 60rem;
  margin-top: -15rem;
  width: 300px;
  max-height: auto;
}

h1{
  font-size: 50px;
  font-family: 'RobotoCondensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  gap: 0.5rem;
  text-align: center;
}

h2{
  font-family: 'RobotoCondensed', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h3{
  font-family: 'RobotoCondensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;

  justify-content: center;
  align-items: center;

}

a{
  color: black;
  text-decoration: none;

  align-items: right;
}

p{
  font-family: 'RobotoCondensed', sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul{
  list-style: none;
}